<header>
    <div id="logo">
        <a href="/">Logo</a>
    </div>
    <ul>
        <li>
            <a href="/about">About</a>
        </li>
        <li>
            <a href="/login">Login</a>
        </li>
        <li>
            <a href="/html">HTML</a>
        </li>
        <li>
            <a href="/css">CSS</a>
        </li>
        <li>
            <a href="/javascript">Javascript</a>
        </li>
    </ul>
</header>