:root {
    --main-color: rgb(247, 64, 81);
    --serve-color: rgb(246, 153, 163);
}

#loginForm {
    border-radius: 4px;
    background-color: var(--serve-color);
    width: 25rem;
    height: 25rem;
    margin: 10rem auto;
    padding: 0.5rem;
    text-align: center;
}

#loginForm label {
    display: block;
    margin: 0.5rem 0
}

#loginBtn {
    display: block;
    margin: 1rem auto;
    background-color: white;
    padding: 0.5rem;
    border-radius: 4px;
    border: 1px ;
}

#loginBtn:hover {
    background-color: rgb(253, 236, 238);
}