<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('./includes/head') %>
    <title>Document</title>
</head>
<body>
    <%- include('./includes/header') %>
    <main>
        <h1>존재하지 않는 주소입니다.</h1>
        <p>주소를 확인하고 다시 이용해주시기 바랍니다.</p>
    </main>
</body>
</html>