<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('./includes/head') %>
    <title>Document</title>
</head>
<body>
    <%- include('./includes/header') %>
    <main>
        <h1>확인 할 수 없는 서버 오류입니다.</h1>
        <p>이용에 불편을 드려 죄송합니다. 잠시 후에 다시 이용해주시기 바랍니다.</p>
    </main>
</body>
</html>